#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

#simulation-box {
    background-color: rgba(100,120,180,.7);
    border-style: double;
    z-index: 100000;
    grid-column: 1 / 3;
    grid-row: 1 / 11;
}

#mapid {
    grid-column: 3 / 11;
    grid-row: 1 / 11;
    width: 100%;
    height: 100%;
}

#entitys-box {
    width: 100%;
    height: 100%;
    grid-column: 3 / 11;
    grid-row: 8 / 11;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(1, 100%);
}

.title {
    text-align: center;
}

#simulation-info {
    width: 100%;
    margin-left: 5%;
}

#current-info {
    width: 100%;
    margin-left: 5%;
}

#simulation-controller {
    text-align: center;
}

#speed-controller {
    margin: 0;
    font-size: 90%;
    text-align: center;
}

/* - BUTTONS - */
#btn-prev, #btn-next {
    width: 50px;
    height: 25px;
}

#btn-pause {
    width: 80px;
    height: 25px;
}

#btn-log {
    margin-top: 5%;
    margin-left: 3px;
    width: 97%;
    height: 10%;
}

.btn-match {
    width: 120px;
    height: 25px;
}
/*-------------*/

#matchs {
    width: 100%;
    padding-left: 5px;
    text-align: center; 
}

#log-box {
    width: 100%;
    height: 40%;
    text-align: center;
}

#log {
    font-size: 10px;
    width: 97%;
    height: 60%;
}

#entity-box {
    grid-column: 8 / 11;
    grid-row: 8 / 11;
    margin: 5px 5px 5px;
    background-color: rgb(180,180,150);
    border-radius: 5px;
    border-style: outset;
    z-index: 1000000;
    overflow: scroll;
    font-size: 15px;
}

#entity-list-info {
    list-style-type: none;
}
