<html>

    <head>

        <title>Quick Start - Leaflet</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="">
        <link rel="stylesheet" href="/static/style.css">

        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script>

    </head> 
    <body>

        <div id="mapid"></div>

        <div id="simulation-box">
            <h5 id="step">NULL</h5>
            <p id="step-speed">NULL</p>
            
            <ul id="agents-list"></ul>
        </div>

        
        <script type="text/javascript" src="/static/script.js?v=2"></script>

    </body>

</html>