<html>

<head>

    <title>Disaster Simulator</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="">
    <link rel="stylesheet" href="static/style.css">

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script> 
</head> 
<body>
            <div id="mapid"></div>

            <div id="simulation-box">
                <h3 class="title">Simulation information</h3>
        
                <div id="simulation-info">
                    <div class="key-value">
                        <label>Simulation url: </label>
                        <label id="simulation-url"></label >
                    </div>
                    <div class="key-value">
                        <label>Api url: </label>
                        <label id="api-url"></label >
                    </div>
                    <div class="key-value">
                        <label>Max agent amount: </label>
                        <label id="max-agents"></label >
                    </div>
                    <div class="key-value">
                        <label>First step time: </label>
                        <label id="first-step-time"></label >
                    </div>
                    <div class="key-value">
                        <label>Time per step: </label>
                        <label id="step-time"></label >
                    </div>
                    <div class="key-value">
                        <label>Social asset timeout: </label>
                        <label id="social-asset-timeout"></label >
                    </div>
                </div>
        
                <h3 class="title">Current information</h3>
                  
                <div id="current-info">
                    <div class="key-value">
                        <label>Step: </label>
                        <label id="step">NULL</label >
                    </div>
                    <div class="key-value">
                        <label>Active agents: </label>
                        <label id="active-agents">NULL</label >
                    </div>
                </div>
        
                <br>
                <div id="simulation-controller">
                    <button id="btn-prev" onclick="prev()"> << </button>
                    <button id="btn-pause" onclick="pause()">Pause</button>
                    <button id="btn-next" onclick="next()"> >> </button>
                </div>
                <br>

                <div id="log-box">
                    <button id="btn-log" onclick="setLog()">Hide log</button>
                    <br>
                    <textarea id="log"></textarea>
                </div>
            </div>

            <div id="matchs">
            </div>
    
        <script type="text/javascript" src="static/script.js?v=2"></script>

    </body>

</html>