* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    overflow: hidden;
}


#mapid {
    position: absolute;
    top: 0;
    left: 15;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    z-index: 1;
}

#options {
    display: flex;
    height: 68px;
    justify-content: flex-end;
    padding: 0;
}

#option-content {
    background: #EDEDED;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    color: #505050;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#options .option-item {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 0 20px;
    justify-content: flex-start;

}

h3 {
    color: #505050;
    font-size: 15px;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
    margin: 2px 0;
}

/* Icon animation when clicked */
.animate-open img {
    transform: rotate(180deg);
    transition: transform .3s linear;
}

.animate-close img {
    transform: rotate(0deg);
    transition: transform .3s linear;
}

#options .option-item + .option-item {
    margin-left: -50px;
}

#expand-div{
    margin-left: -170px !important;
    margin-right: -125px;
}

#options .option-item .button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

#options .option-item .button-wrapper input {
    width: 55px;
    height: 25px;
}

#options .option-item .button-wrapper button {
    width: 55px;
    height: 25px;
    margin: 0 5px;
    background: #4c4c4c;
    border: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: opacity .1s ease-in-out;
}

#options .option-item .button-wrapper button:hover {
    opacity: 0.7;
}

#options .option-item .button-wrapper button:active {
    transform: translateY(.3px);
}

#container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 680px;
    padding: 15px;
    margin-top: -80px;
}

.card {
    background: #EDEDED;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 10px;
    color: #505050;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    min-height: 220px;
    margin-bottom: 15px;
    z-index: 1;
}

.card p #current-map {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 235px;
  font-size: 14px;
}

.list {
    overflow: hidden; 
    overflow-y: scroll;
    font-size: 14px;
    list-style-type: none;
    padding: 5px 0;
    margin: 23px 5px 5px -80px;
    height: 275px;
    width: 220px;
}

#metrics {
    padding: 0 !important;
    margin: -10px 0 0 0 !important;
    height: 135px;
}

#global-info {
    height: 400px;
}

#global-info #global-itens {
    margin-top: -15px;
}

#agent-info {
    height: 400px;
}

#agent-info h3 {
    padding-bottom: 10px;
}